
.box{
    border: 1px solid black;
    width: 200px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 18px;
    background-color: orange;
    color: #fff;
    outline: 1px solid #ccc;
    outline-offset: 15px;
    display: inline-block;
    outline-color: aquamarine;
}